@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Orbitron&display=swap');

:root {
 	--red:
    --red-gradient:
}

.parties-view
{
    background: url(https://rawcdn.githack.com/hoanganhnvnb/DonationApp/1344da87d53556b290e4bdeb3d6ccb8968ca8161/app/src/main/res/drawable/EiKKm-last.jpg) !important;
	background-color:transparent !important;
	*box-shadow: inset 0px 0px 150px  rgba(220, 20, 60, 0.2) ;
	*border-radius:20px 20px 0px 0px;
	background-size: cover !important;
	background-repeat: no-repeat !important;

}
.parties-view .parties-background {
    opacity:0;
}
.collections-application{
    background: url(https://rawcdn.githack.com/hoanganhnvnb/DonationApp/28a8f2a417eff661156cefe2769035dbe326acee/app/src/main/res/drawable/quynh-last.jpg) !important;
    background-size: cover !important;
	background-repeat: no-repeat !important;
}

.lol-social-sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #00000008;
    font-size: 12px;
    cursor: default;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    background-color:transparent !important;
    background:url('https://rawcdn.githack.com/hoanganhnvnb/DonationApp/28a8f2a417eff661156cefe2769035dbe326acee/app/src/main/res/drawable/hutao-last.jpg')!important;
   *box-shadow: inset 0px 0px 1278px  rgba(220, 20, 60, 0.2) ;        
    *border-radius:20px 20px 0px 0px;
    background-size: cover !important;
	background-repeat: no-repeat !important;
}
.social-scroll::-webkit-scrollbar {
    width: 0px!important;    
}


.section.active .section-glow {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    margin: 0;
    background: linear-gradient(to left, transparent, #9e6dff, transparent)!important;
}


.section.active, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section.active {
    color: #ffffff!important;
    text-shadow: 0px 1px 15px white!important;
    font-family: 'Orbitron', sans-serif!important;
}

.loot-backdrop {
    position: absolute;
    width: 1055px;
    height: 718px;
    overflow: hidden;
    background: url(https://rawcdn.githack.com/hoanganhnvnb/DonationApp/28a8f2a417eff661156cefe2769035dbe326acee/app/src/main/res/drawable/allina-last.jpg) !important;
    background-size: cover !important;
}


#rcp-fe-viewport-root > .rcp-fe-viewport-full-screen {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0.2);
}


.currency-be-icon-container {
  
    filter: brightness(0) invert(1)!important;
}

.currency-rp {
    filter: brightness(0) invert(1)!important;
}

.member-name-wrapper .member-name {
    color: #ffffff!important;
    font-size: 14px;
    font-weight: bold!important;
    line-height: 20px;
    text-shadow: 1px  1px 1px black !important;   
    letter-spacing: 0.025em;
    -webkit-font-smoothing: subpixel-antialiased;
}

.dnd {
    color:rgb(177,0,0) !important;
}


.group-header {
    background: rgba(1,10,19,0.7)!important;          
    transition: 0.5s;
    height: 24px;
    cursor: pointer;
    display: flex;
    margin-bottom: 4px;
    color: rgba(255,255,255,1)!important;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.075em;
        
}
/* LOBBY */



/* HOME */

/* Profile */



lol-social-roster-member {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 25px!important;
    padding-bottom: 5px!important;
}

lol-social-roster-member .layout{    
    padding: 10px!important;
    background: rgba(0,0,0,0.5);
    border-radius: 10px 0px 0px 10px!important;
}

lol-social-roster-member .layout:hover{    
    background: rgba(0,0,0,0.3)!important;
}

lol-social-roster-member .member-icon {
    height: 32px;
    width: 32px;
    margin: 0 8px 0 -28px!important;
    flex-shrink: 0;
}



.identity-and-parties {
    background: rgba(0, 0, 0, 0.6) !important;
}

.loot-backdrop .lol-uikit-video-content{
/*     background: url(https://rawcdn.githack.com/hoanganhnvnb/DonationApp/b2caafb14ab75fe57c45179ce48a44367dc56a3f/app/src/main/res/drawable/allina.jpg) !important; */
    background: none;
	display: block;   
    box-sizing: border-box;
     width: 180px; 
    height: 236px; 
    padding-left: 180px; 
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.parties-game-navs-list .parties-game-navs-item {    
    filter: brightness(0) invert(1)!important;
}

.game-type-card.selected .parties-game-type-card-category-btn {
    filter: brightness(0) invert(1)!important;
}

.lol-social-sidebar .alpha-version-panel {
    filter: grayscale(100%) ;
}

.friend-requests {
    height: 44px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: rgba(1,10,19,0.7)!important;
    box-shadow: 0 5px 45px rgba(0,0,0,0.5);
}

.friend-requests-header {
    color: #ffc13d !important; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
}

.section, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #facfffc2!important;
    border: none;
    margin: 0;
    text-decoration: none;
    outline: none;
    transition: text-shadow 0.3s ease-in-out, background 1.5s;
    width: 100%;
    height: 100%;
    min-height: 20px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif!important;
}

::content .lol-uikit-video-content {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    filter: brightness(0) invert(0)!important;
}

.lol-uikit-full-page-backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(255, 255, 255, 0.3) 120%)!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
